<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.airsaid.accountbook">

    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 基础模块 END -->

    <!--读取外部存储-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--相机拍照-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="LEANCLOUD_APPID"
            android:value="${leancloud_appid}"/>
        <meta-data
            android:name="LEANCLOUD_APPKEY"
            android:value="${leancloud_appkey}"/>
        <!--主页-->
        <activity android:name=".mvp.main.MainActivity"/>
        <!--登录-->
        <activity android:name=".mvp.login.LoginActivity"/>
        <!--注册-->
        <activity android:name=".mvp.register.RegisterActivity"/>
        <!--记账-->
        <activity android:name=".mvp.account.AccountActivity"/>
        <!--个人资料-->
        <activity android:name=".mvp.user.UserInfoActivity"/>
        <!--找回密码-->
        <activity android:name=".ui.activity.ForgetPasswordActivity"/>

        <provider
          android:name="android.support.v4.content.FileProvider"
          android:authorities="${applicationId}.provider"
          android:exported="false"
          android:grantUriPermissions="true">
            <meta-data
              android:name="android.support.FILE_PROVIDER_PATHS"
              android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>